html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  margin: 20px;
}
svg {
  border: 1px solid #000;
}
.box-ptr,
.pts-ptr,
.pts-ctrl-ptr {
  fill: #fff;
  stroke: #444;
  cursor: pointer;
}
.pts-ctrl-ptr {
  fill: rgba(0,0,0,0.2);
  stroke: rgba(0,0,0,0.4);
}
.pts-ctrl-line {
  stroke: #444;
  stroke-dasharray: 3 3;
}
.pts-path {
  fill: none;
  stroke: #444;
  stroke-width: 2;
}
.box {
  fill: none;
  stroke: #444;
  stroke-width: 0.5;
  stroke-dasharray: 3 6;
}
.simple .pts-ptr,
.simple .pts-ctrl-ptr,
.simple .ptr-ctrl-line {
  display: none;
}
